div#div{
    float:left;
    width:10%;
    min-height:300px;
    height:auto;
}
button{
    margin-top:10px;
    font-size: 15px;
}
button:hover{
    box-shadow: 2px 2px 30px black;
    background-color: cadetblue;
}
aside{
    height:900px;
}
#injs{
    resize: vertical;
    font-size: 15px;
}
#butjs{
    margin-top:30px;
    padding:5px 30px 5px 30px;
}
#inside_art{
    text-align:left;
    font-size:30px;
    margin-top:5px;
}